body{
	/*background-image: url("../images/background.jpg");*/
	background-size: 100%;
	background-color: white;
	/*background-repeat: no-repeat;*/
}

.caption{
	position: relative;
}

.titleEG {
margin-bottom: 0px;
padding-bottom: 0px;
}
.title {
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 0px;
}

.Emeraldtitle {
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 120px;
  padding-right: 60px;
  position: absolute;
  font-size: 25px;
  top: 10px;
  left: 0px;
}

.Picture img {
  height: 220px;
  width: 220px;
  bottom: 3px;
  margin-top: 50px;
}

.buttons {
  margin-top: 10px;
}

.row {
  margin-top: 10px;
}

form {
  float: right;
}

h1, span {
  font-weight: bold;
}

h2 {
  font-size: 20px;
  height: 30px;
}

p {
  font-size: 14px;
}

.card {
  flex-direction;
}

.userTotal, .winsAndLoses, .numberToMatch {
  margin-bottom: 0;
}

.buttons img {
  height: 60px;
  width: 60px;
}
